@import url('https://fonts.googleapis.com/css2? family= Roboto+Mono & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@700&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
a{
    text-decoration: none;
}
.header{
    width: 1600px;
    margin: 0 auto;
}
.navs{
    padding-top: 20px;
    text-align: center;
    display: inline;
    margin-left: 105px;
    margin-top: 20px;
}
.nav{
    font-family: 'Roboto Mono', monospace;
    margin:10px 38px;
    color: black;
    margin-top: 20px;
}
.logo{
    width: 40px;
    height: 30px;
    margin-top: 8px;
    font-size: 25px;
    float: right;
}
.nav:hover{
    color: #4e4e4e;
}
.besn{
    text-align: center;
    margin-top: 20px;
    margin-left: 400px;
}
.info_1 {
    font-family: 'Bai Jamjuree', sans-serif;
    margin-left: 140px;
    margin-top: 75px;
}
.card{
    margin-top: 70px;
    margin-left: 140px;
}
.nnn:hover{
    color: #4e4e4e;
}
.nnn{
    color: black;
    font-family: "Roboto Mono",monospace;

}
.let{
    font-size: 25px;
}
.bg{
    float: right;
}
.deals{
    font-family: 'Bai Jamjuree', sans-serif;
    margin-left: 140px;
    padding-top: 40px;
    display: flex;
}
span{
    font-family: "Roboto Mono",monospace;
    color: grey;
}
.text{
    display: inline-block;
}
.blue img{
    padding-top: 60px;
    width: 100%;
}
.mast{
    font-family: 'Bai Jamjuree', sans-serif;
    margin-left: 140px;
    padding-top: 40px;
}
.test{
    font-family: "Roboto Mono",monospace;
    color: grey;
    margin-left: 140px;
}