@import url('https://fonts.googleapis.com/css2? family= Roboto+Mono & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@700&display=swap');
*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
a{
    text-decoration: none;
}
.header{
    width: 1600px;
    margin: 0 auto;
}
.navs{
    padding-top: 20px;
    text-align: center;
    display: inline;
    margin-left: 105px;
    margin-top: 20px;
}
.nav{
    font-family: 'Roboto Mono', monospace;
    margin:10px 38px;
    color: black;
    margin-top: 20px;
}
.logo{
    width: 40px;
    height: 30px;
    margin-top: 8px;
    font-size: 25px;
    float: right;
}
.nav:hover{
    color: #4e4e4e;
}
.besn{
    text-align: center;
    margin-top: 20px;
    margin-left: 400px;
}
.info_1 {
    font-family: 'Bai Jamjuree', sans-serif;
    margin-left: 140px;
    margin-top: 75px;
}
.card{
    margin-top: 70px;
    margin-left: 140px;
}
.nnn:hover{
    color: #4e4e4e;
}
.nnn{
    color: black;
    font-family: "Roboto Mono",monospace;

}
.let{
    font-size: 25px;
}
.bg{
    float: right;
}
.deals{
    font-family: 'Bai Jamjuree', sans-serif;
    margin-left: 140px;
    padding-top: 40px;
    display: flex;
}
.info{
    padding-left: 100px;
}
span{
    font-family: "Roboto Mono",monospace;
    color: grey;
}
.text{
    display: inline-block;
    padding-left: 150px;
}
.mast{
    font-family: 'Bai Jamjuree', sans-serif;
    width: max-content;
    height: max-content;
}
.blue{
    background-color: #c7eaff;
    height: 417px;
    margin-top: 100px;
}
.grid{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    height: max-content;
    grid-column-gap: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.test{
    font-family: "Roboto Mono",monospace;
    color: grey;
    width: max-content;
    height: max-content;
}
.mast_1{
    font-family: 'Bai Jamjuree', sans-serif;
    width: max-content;
    height: max-content;

}
.test_1{
    font-family: "Roboto Mono",monospace;
    color: grey;
    width: max-content;
    height: max-content;
}
.customer{
    font-size: 40px;
    font-family: 'Bai Jamjuree', sans-serif;
    text-align: center;
}